@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{

    margin: 0;
    padding: 0;
    
}

body { font-family: 'Open Sans', sans-serif; background: #F0B429;  }  


h1, h2, h3, h4, h5, h6 {font-family: 'Yanone Kaffeesatz', sans-serif; letter-spacing: 1.5px;}

/*---------------Contenedor: Contiene toda la pagina---------------*/

#contenedor {
    background: #ffffff;
    width: 900px;  /*---------------Ancho de contenedor---------------*/
    height: 1820px; /*---------------Alto de contenedor---------------*/
    margin: 0.2em auto;
    padding: 0.2em;
    border-radius: 0.5em;
}

/*---------------Cabecera---------------*/

#cabecera {
    background: #005883;
    height: 60px;    
    border-radius: 0.5em;
    margin: 0.1em auto;
}

/*------------------Imagenes---------------*/

#contenido {
    display: flex;
    justify-content: space-between;
}

#contenido {
height: 400px;
background: #FFFFFF;
margin: 0.1em auto;
border-radius: 0.3em;
}

#img1  {
    height: 400px;
    width: 900px;
    background: #FFFFFF;
    margin: 0.2em;
    border-radius: 0.3em;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

#img-conexion {
    height: 300px;
    float: none;
    
    border-radius: 0.7em;
}

#img2 {
    height: 400px;
    width: 900px;
    background: #FFFFFF;
    margin: 0.2em;
    border-radius: 0.1em; 
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

#img3 {
    height: 400px;
    width: 900px;
    background: #FFFFFF;
    margin: 0.2em;
    border-radius: 0.3em;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

#img4 {
    height: 400px;
    width: 900px;
    background: #FFFFFF;
    margin: 0.2em;
    border-radius: 0.3em;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}


/*------------------------------Botones---------------*/

#boton {
    background: #FFFFFF;
    margin: 0.1em;
    border-radius: 0.3em;
}

#botones {  
    background: #28a0a0;
    height: 50px;
    border-radius: 0.3em;
    margin:0.3em;
    text-align: center;
}

.icon-volver  {
    font-size: 40px;
    margin: 0.1em;
    float:left;
    
}

.icon-arriba {
    font-size: 40px;
    margin: 0.1em;
    float:right;
}
